@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    font-family: 'PT Sans', sans-serif;
}
.nav-parent{
     background-color: #93C5FD; 
    overflow: hidden;
    padding: 1rem;
    border-bottom-left-radius: 20px;
}
.nav-container{
    display: inline;
    float: right;
    overflow: hidden;
    padding: 4rem 2rem;
    
}
.nav-container .icon{
    display: none;
    color:#1E3A8A;
}
.link{
    color: #1E3A8A;
    float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: x-large;
}
.link-active {
    background-color: #1E3A8A;
    color: white;
   border-radius: 20px;
   padding: 0.8rem;
  }
  @media screen and (max-width: 600px) {
    .nav-container a {display: none;}
    .nav-container a.icon {
      float: right;
      display: block;
      color:#1E3A8A;
    }
  }
  @media screen and (max-width: 600px) {
    .nav-container.responsive {position: relative;}
    .nav-container.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
      color:#1E3A8A;
    }
    .nav-container.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.header{
  padding: 2rem;
}
.header .img-style{
  max-width: 350px;
  max-height: 350px;
  margin: auto;
  display: block;
}
.header .img-header{
  color:#1E3A8A;
  font-weight: bolder;
  font-size: 30px;
  padding:1rem; 
  text-align: center;
}
.avatar{
  vertical-align: middle;
 max-width:  150px;
  border-radius: 50%;
  border:10px solid #1E3A8A;
}
.section{
  padding:0.5rem;
  background-color: #D1D5DB;
  margin: 2rem;
  font-weight: bolder;
}
.section .section-header{
  text-align: center;
  font-size: 30px;
  color:#1E3A8A;
  display:block
}
.section .p{
    display: block;
    text-align: center;
    font-size: x-large;
    font-weight: normal;
}
.section .section-container{
    text-align: center;
    display: block;
}
.section .primary-button {
    display: inline-block;
    max-width: 120px;
    max-height: 35px;
    background: #1E3A8A;
    padding: 1rem;
    text-align: center; 
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 1rem;
    margin: auto;
    overflow: wrap;
    text-decoration: none;
}
.section .secondary-button {
    display: inline-block;
    max-width: 120px;
    max-height: 35px;
    border-color:#1E3A8A ;
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
    text-align: center; 
    border-radius: 5px;
    color:#1E3A8A;
    font-weight: bold;
    line-height: 1rem;
    margin: auto;
    overflow: wrap;
    text-decoration: none;
}
.active, .primary-button:hover {
    background-color: #3B82F6;
    color:black;
  }
  .active, .secondary-button:hover {
    background-color: #1E3A8A;
    color:white;
  }
  .footer{
     background-color: #93C5FD; 
     text-align: center;
     color: #1E3A8A;
    flex-grow: 1;
}
.footer .footer-header{
    font-size: x-large;
    padding:0.5rem
    
}
.p{
    display: block;
}
.button-container{
    display: block;
    margin: auto;
    text-align: center;
}
.fa-instagram{
    font-size:60px;
    color:#C13584;
    text-shadow:4px 4px 4px #000000;padding: 1rem
}
.active, .fa-instagram:hover {
    background-color: #60A5FA;
  }
  .fa-linkedin{
    font-size:60px;
    color:#0077b5;
    text-shadow:4px 4px 4px #000000;padding: 1rem
  }
  .active, .fa-linkedin:hover {
    background-color: #60A5FA;
  }
  .fa-facebook{
    font-size:60px;
    color:#4267B2;
    text-shadow:4px 4px 4px #000000;padding: 1rem
  }
  .active, .fa-facebook:hover {
    background-color: #60A5FA;
  }